{% extends "base.html" %}
{% load dajaxice_templatetags %}
{% load person %}
{% load url from future %}
{% block content %}
<h1>{{ author.name }}</h1>
{% if author.deepestPaths|length > 0 %}
<h2>Deepest Network Path Discovered</h2>
<ol>
{% for edge in author.deepestPaths|deepestPath %}
{# 'url' Filter is not finding my View when reverse() is... #}
<li><a href="{{ edge.personName }}">{{ edge.personName }}</a></li>
{% endfor %}
</ol>
{% endif %}
{% if author.texts|length > 0 %}
{% for textSet in author.texts %}
<h2>{{ textSet.label }}</h2>
{% for text in textSet.texts %}
<div class="text-container" id="{{text.textId}}">Loading...</div>
{% endfor %}
{% endfor %}
{% endif %}
</ul>
{% dajaxice_js_import %}
<script type="application/javascript" src="/static/dajax/jquery.dajax.core.js"></script>
<script type="application/javascript" src="/static/js/author.js"></script>
{% endblock %}
